<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/deneme?serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">12345</property>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <property name="hbm2ddl.auto">update</property>
        <!-- JDBC connection pool settings ... using built-in test pool

         <property name="connection.pool_size">1</property>-->



        <!-- Echo the SQL to stdout -->
        <property name="show_sql">false</property>

        <property name="format_sql">true</property>

        <!-- Following 2 lines are for Second Level Cache -->
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.internal.EhcacheRegionFactory</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.internal.EhcacheProvider</property>


    </session-factory>

</hibernate-configuration>





        <!-- en üstteki ilk beş property mysql kullananlar için. sql kullananlar onları silip  alttaki  bes property yi yapıştırsınlar-->

        <!--    <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
            <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>
            <property name="hibernate.connection.username">meryem</property>
            <property name="hibernate.connection.password">1234</property>
            <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521/ORCLCDB.localdomain</property>

               -->